

  <div class="container">
    <mat-toolbar style="z-index:3;position: sticky;top: 0;background-color: white;min-height: 100px;max-height: 101px;color: black;display: flex;flex-direction: row;align-items:center;justify-content: space-between;"><span [routerLink]="''" class="toolbar-nav">LORD OF THE STITCH</span>
      <div style="display: flex;flex-direction: row;align-items:center;justify-content: space-evenly;gap: 1rem;">
      <div  id='navbar' class="nav-bar invisible">
        <span (click)="triggernavMenu()" class="toolbar-nav" [routerLink]="'/products'">PRODUCTS </span>
        <span (click)="triggernavMenu()" class="toolbar-nav" [routerLink]="'/custom'">CUSTOM ORDER</span>
        <span (click)="triggernavMenu()" class="toolbar-nav">CONTACT</span></div>
      <button mat-icon-button *ngIf="isMobile()==true" (click)="triggernavMenu()"><mat-icon>menu</mat-icon></button>
      <button [matMenuTriggerFor]="cartMenu" mat-icon-button ><mat-icon [matBadge]="shpcart.Items"  [matBadgeHidden]="shpcart.Items==0">shopping_cart</mat-icon></button></div></mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
    <div class="footer">
      <div class="footer-wrapper">
        <div class="footer-content">
          <h1>COMPANY</h1>
          <span class="footer-content-nav">PRIVACY POLICY</span>
          <span class="footer-content-nav">COOKIE POLICY</span>
          <span class="footer-content-nav">STORE</span>
        </div>
        <div class="footer-content">
          <h1>CUSTOMER SUPPORT</h1>
          <span class="footer-content-nav">CONTACT</span>
          <span class="footer-content-nav">FAQ</span>
          <span class="footer-content-nav">PAYMENT OPTIONS</span>
        </div>
        <div class="footer-content">
          <h1>POPULAR LINKS</h1>
          <span class="footer-content-nav">COUPON CODES</span>
        </div>
      </div>
      <div style="width: 50%;">
        <hr class="solid">
      </div>
      <div style="display: flex;flex-direction: row;justify-content: center;gap: 1rem;">
        <img src="https://img.icons8.com/ios-filled/30/000000/twitter.png"/>
        <img src="https://img.icons8.com/ios-filled/30/000000/instagram-new--v1.png"/>
        <img src="https://img.icons8.com/ios-filled/30/000000/facebook--v1.png"/>
      </div>
       </div>
  </div>



<mat-menu #cartMenu="matMenu">

<div style="display: flex;flex-direction: column;gap: 2rem;padding: 15px;" (click)="$event.stopPropagation();" *ngIf="shpcart.shoppingCart.length>0 else empty" >
  <div *ngFor="let product of shpcart.shoppingCart" style="display:grid;grid-template-columns: 1fr 1fr;justify-items:center;gap:3rem" >
  <img src="{{product.Img}}" style="height: 150px;width: 110px;">
  <div style="display: flex;flex-direction: column;gap: 1rem;align-items: center;">
    <span>{{product.Name}}</span>
    <span>{{product.Price|currency:'EUR'}}</span>
    <span>{{product.Size}}</span>
  <div style="display: flex;flex-direction: row;align-items: center;gap: .5rem;"><button mat-icon-button (click)="shpcart.removefromCart(product)"><mat-icon>remove</mat-icon></button><span>{{product.Amount}}</span><button mat-icon-button (click)="shpcart.addtoCart(product)"><mat-icon>add</mat-icon></button></div>
  </div>
  </div>
  <div style="display: flex;flex-direction: row;justify-content: space-around;">
  <span>TOTAL:<br>{{shpcart.total|currency:'EUR'}}</span><button mat-button>CHECKOUT</button></div>
</div>
<ng-template #empty >
<h1  (click)="$event.stopPropagation();" style="text-align: center;">CART EMPTY.</h1>
</ng-template>
</mat-menu>
